*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    padding: 10px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dfa3a3;
    z-index: 1;
    flex-direction: row;
    text-decoration: none;
  }
  .nav_section{
    display: flex;
    flex-direction: row;
  }
  .nav_section_items a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:rgb(240, 216, 220);
  }
  .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 60%;
  }
  .heading h1{
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 40px;
    color: brown;
  }
  .heading p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;
    color: rgb(158, 67, 67);
  }
  .cont_img{
    width: 99%;
    margin-left: 5px;
    height: 600px;
    background-position: right;
    justify-content: right;
    text-align: right;
    
  }
  button{
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    color:white;
    background-color: brown;
    justify-content: center;
    text-align: center;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
}
.container_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.container_2 h1{
  display: flex;
  flex-direction: column;
  font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 40px;
    color: brown;
}
.container_2 p{
  display: flex;
  flex-direction: column;
  font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: rgb(196, 137, 137);
}
.prod_grid{
  display: grid;
  width: 90%;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 60px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  
}
.grid-prod{
  width: 80%;
  line-height: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 1px 1px 1px 1px brown;
}
.grid-prod h1{
  margin-bottom: 20px;
  margin-top: 20px;
  color: brown;
  cursor: pointer;
  
}
.grid-prod h1:hover{
  color: #581212;
}
.grid-prod p{
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgb(173, 101, 101);
}