* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* dami section */
#dami-section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#dami-section h1 {
  font-size: 40px;
  color: #4d312c;
}

#dami-section p {
    color: rgba(0, 0, 0, 0.776);
    line-height: 1.7;
  }

/* section 1 */

.book-section {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 30px;
  padding-top: 50px;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.book-section img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}



.book-section-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.booking-form input {
  height: 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.356);
  padding: 0 10px;
}

.booking-form button {
  background-color: #fe5f41;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: white;
  align-self: center;
}

.booking-form button:hover {
  background-color: #ff4e2b;
  cursor: pointer;
}

/* section 2 */
.section2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  align-items: center;
}

.review-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 90%;
    margin: auto;
}

.review-items{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* section footer */

.section-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    background-color: #FFF7F3;
    padding: 50px 50px 30px 50px;
}

.section-footer p{
    font-size: 18px;
    font-weight: 600;
}

.section-footer ul li{
    list-style: none;
    line-height: 1.7;
}

.section-footer-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.n0{
    font-size: 20px;
}

.n0, .email-footer{
    color: #fe5f41;
}

.section-footer-logos-socials{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.section-footer-logos-socials img{
    width: 13%;
}

.section-footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}