*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    padding: 10px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dfa3a3;
    z-index: 1;
    flex-direction: row;
    text-decoration: none;
  }
  .nav_section{
    display: flex;
    flex-direction: row;
  }
  .nav_section items a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }